# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual Environment
.venv/
venv/

# Environment
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Node
node_modules/
dist/

# Build
build/
